spring:
  application:
    name: app-authenticator
    version: 1.0.0
    description: Authenticator Application
    team:
      name: Firefly Software Solutions Inc
      email: dev@getfirefly.io
  threads:
    virtual:
      enabled: true
  cloud:
    gateway:
      filter:
        json-to-grpc:
          enabled: false

endpoints:
  domain:
    core-domain-security-center: ${ENDPOINT_DOMAIN_SECURITY_CENTER:http://localhost:8085}
    security-center: ${endpoints.domain.core-domain-security-center}

server:
  address: ${SERVER_ADDRESS:localhost}
  port: ${SERVER_PORT:8080}
  shutdown: graceful

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus
  endpoint:
    health:
      show-details: always
      probes:
        enabled: true
  health:
    livenessState:
      enabled: true
    readinessState:
      enabled: true
    redis:
      enabled: false
  tracing:
    enabled: true
    sampling:
      probability: 1.0
  otlp:
    tracing:
      endpoint: ${OTEL_ENDPOINT:http://otel-collector:4317}
otel.traces.exporter: otlp

logging:
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n"
  level:
    root: INFO
    com.firefly: DEBUG
    org.springframework.r2dbc: DEBUG
    org.flywaydb: DEBUG
    org.springframework.cloud.gateway: DEBUG
    io.opentelemetry.exporter.zipkin: DEBUG
    org.springframework.boot.actuate.autoconfigure.tracing: DEBUG
